
#setup {

  @media (min-width: 1000px) {
    width: 40%;
  }

  table {
    margin-bottom: 0px;
  }

  .loadingText {
    margin-bottom: 0px;
    text-align: center;
  }
  .noMarginBottom {
    margin-bottom: 0px;
  }
  .noMarginTop {
    margin-top: 0px;
  }
}
